.er_popup {
	position: fixed;
	bottom: 0;
	right: 0;
	box-shadow: $shadow;
	z-index: 10;
	overflow: hidden;

	@include breakpoint (small down) {
		right: auto;
		left: 0;
	}//end small down breakpoint

	&__open {
		cursor: pointer;
		background-color: #146947;
		color: #fff;
		@include transition (all .5s ease-in-out .5s);
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border-radius: $border-radius 0 0 0;
		overflow: hidden;

		@include breakpoint (small down) {
			border-radius: 0 $border-radius 0 0;
		}//end small down breakpoint
	}//end &__open

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $spacing--xs;

		h3 {
			margin-bottom: 0;
			margin-top: 0;
			font-size: 1.5rem;

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint
		}//end h3
	}//end &__title

	&__icon {
		background-color: darken(#146947,5%);
		padding: $spacing--xs;
		font-size: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		@include breakpoint (small down) {
			font-size: 1rem;
		}//end small down breakpoint
	}//end &__icon

	&__card {
		display: none;
		border-radius: $border-radius 0 0 0;
		overflow: hidden;
		width: 350px;
		background-color: #FFFFFF;
		max-width: 100%;

		@include breakpoint (small down) {
			border-radius: 0 $border-radius 0 0;
		}//end small down breakpoint
	}//end .er_card

	&__header {
		background-color: #146947;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		& * {
			color: #FFFFFF;
		}//end & *
		h3 {
			margin-bottom: 0;
			margin-top: 0;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
			padding: $spacing--xs;

			@include breakpoint (small down) {
				font-size: 1.25rem;
			}//end small down breakpoint
		}//end h3

		.er_popup__close {
			background-color: darken(#146947,5%);
			padding: $spacing--xs;
			font-size: 1.5rem;
			display: flex;
			align-items: center;
			justify-content: center;

			@include breakpoint (small down) {
				font-size: 1.25rem;
			}//end small down breakpoint
		}//end .er_popup__close
	}//end &__header

	&__er {
		padding: $spacing--xs;
	}//end er

	&__facility {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;

		&:not(:last-of-type) {
			margin-bottom: $spacing--xs;
		}//end &:not(:last-of-type)

		.er_popup__time {
			flex: 0 0 80px;
			font-weight: 700;
			background-color: #146947;
			border-radius: $border-radius;
			color: #FFFFFF;
			padding: $spacing--xs $spacing--xs/2;
			text-align: center;
		}//end &__time

		.er_popup__name {
			flex: 1 1 auto;
			padding-left: $spacing--xs;

			p {
				font-size: 1.25rem;
				line-height: 1.1;
				margin-bottom: $spacing--xs/2;
				font-weight: 600;
			}//end p

			a {
				text-transform: uppercase;
				font-size: rem-calc(14px);

				&:hover {
					text-decoration: underline;
				}//end &:hover
			}//end a
		}//end .er_popup__name
	}//end &__facility

	&__content {
		background-color: #ECF3EC;
		padding: $spacing--xs;

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__content

	&.er_active {

		.er_popup__open {
			display: none;
		}//end .er_popup__open

		.er_popup__card {
			display: block;
		}//end .er_popup__card
	}//end &.er_active
}//end .er_popup